<!DOCTYPE html>
<html ng-app="assign9">
    <head>
        <title>Goldblood</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>


        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
        </script>

        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js">
        </script>

        <!-- Link to load the AngularJS framework.-->
        <script src=https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js></script>

        <!-- External Javascript file containing custom functions and the AngularJS 
             model and controller that allow the page to function.-->
        <script src="JS/assign9script.js"></script>


        <!-- Link to CSS file used to stylize the page.-->
        <link href="CSS/assign9styleV3.css" rel="stylesheet" type="text/css"> 




    </head>


    <!-- Directive which says this page will use the assign9Ctrl ng-controller. -->
    <body ng-controller="assign9Ctrl" ng-init='load()'>
        <div class="container">
            <!-- Container for an introduction and instructions to the user.-->
            <div class="Intro">
                <h1>Goldblood Songs</h1>
                <p>Click or tap on a song to select it, then just press play!</p>
            </div><!-- End 'Intro' div.-->


            <!-- Table which contains the playlist. The table is hidden if no songs have been added.-->
            <div id="setlist">

                <!-- Div used to contain the up and down arrows, swap button and total length.-->
                <div id="interaction">
                    <audio id="my-audio" ng-src="{{audioActive|audioFilter}}"></audio>

                    <div id="controls">
                        <!-- custom play and pause buttons -->
                        <input type="image" ng-src="{{playbackIcon}}" alt="UP" ng-click="togglePlayback()"/>
                        <div id="nowPlaying">&nbsp{{nowPlaying}}&nbsp</div>
                    </div>


                    <div id="progress">
                        <div id="circle2"></div>
                        <div id="bar"></div>
                    </div><!-- End progress bar-->

                    <div id="sublistContainer">
                    <div class="sublist">
                        <input type="button" value="Finished Songs" ng-click="changeList('GB_songs')"/>
                        <input type="button" value="Incomplete Songs/Ideas" ng-click="changeList('GB_ideas')"/>
                    </div>
                    <div class="sublist">
                        <input type="button" value="Notation/Tabs" ng-click="changeList('GB_Notation')"/>
                        <input type="button" value="Downloads" ng-click="changeList('GB_Downloads')"/>
                    </div>
                    </div>
                </div><!-- End interaction div-->


                <div id="tableDiv">
                <table>
                    <!-- Table headers for the playlist songs names and lengths.-->
                    <tr>
                        <th id="numHeader">#</th>
                        <th id="songHeader">SONG</th>
                    </tr>


                    <tr ng-class="{move: i === moveActive}" ng-repeat="i in myList| filter:query | orderBy:'pos'" >

                        <td>{{$index + 1}}</td>
                        <!-- The list of song names. Makes use of the ng-class attribute to add
                             remove classes which allow the colors of selected songs to be changed.
                             When the song names are clicked the 'setSwapClass' function is called.-->

                        <td class="songRow">
                            <button ng-click="updateActive(i)">{{i.name}}</button>
                        </td>
                    </tr>

                </table><!-- End of play list table.-->
                </div>
            </div><!-- End setlist div.-->
        </div><!-- End container -->



    </body>

</html>
